{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<!-- Landing Page with Main Title -->
<div class="overlay"></div>
<section class="container">
    <div class="row">
        <div class="col-12 mt-4 mb-2 text-center txt-drk">
            <h1 class="mb-0">The Beard Masters Newsletter</h1>
            <p>Complete the form below and click send to join our newsletter mailing list</p>
        </div>
        <div class="col-12">
            <hr class="divide-rule"> 
        </div>
            <div class="col-md-6 offset-md-3 mb-5 mt-3">
                
                <div class="card">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <input class="btn btn-primary btn-block mb-2 float-end" type="submit"
                                value="Send Newsletter">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}