{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <h2 class="text-center mb-4">OUR STORY</h2>
    <p>
        The Beard Masters is a professional barber shop that specialises in providing high-quality grooming
        services. Our master barbers cover all aspects of men's grooming from classic haircuts & hot towel shaves, to 
        beard maintenance and premium, crafted aftercare products. Whatever you need, whatever your style, we've got you 
        covered.
    </p>
    <p>
        In order to help men feel and look their best, we provide beard trimming services. Our staff is specifically 
        educated to give precise beard trimming services that enhance the natural contours of the face, and we only use 
        high-quality grooming supplies and equipment. Whether you desire a traditional, well-groomed style or something 
        more edgy and trendy, our team of beard gurus can help you get it.
    </p>
    <p>
        While you are refreshed with a complimentary drink of your choice, your skilled barber will discuss you requirements 
        and offer a consultation so that your treatment is specifically tailored to your individual skil and hair needs. 
        So sit back and relax and let us take care of you.
    </p>
    <p>
        Our beard trimming services are intended to assist men in looking and feeling their best. We only use
        high-quality grooming products and tools, and our staff is specially trained to provide precision beard trimming
        services that enhance the natural contours of the face. Our team of beard masters can help you achieve the look
        you want, whether it's a classic, well-groomed look or something more edgy and modern.
    </p>
    <p>
        The Beard Masters are proud of their commitment to excellence. Since every client is different, we take the time 
        to learn about their needs and preferences before offering our services. Every customer should leave our store 
        feeling good about their new appearance and confident.
    </p>
    <p>
        According to The Beard Masters, a well-groomed beard conveys confidence and style. We are committed to offering 
        the greatest grooming services and products to our customers because of this. The Beard Masters is the expert 
        beard trimming business committed to making men feel and look their best.
    </p>
</div>

{% endblock %}