<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">

                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                    Home
                </a>

            <!-- <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-bookings-link" aria-haspopup="true" aria-expanded="false">
                Our Story
            </a> -->
            <!-- <div class="dropdown-menu border-0" aria-labelledby="all-bookings-link">
            </div> -->
        </li>
        <li>
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'our_story' %}" id="all-bookings-link-our-story" aria-haspopup="true" aria-expanded="false">
                Our Story
            </a>

        </li>
        

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-bookings-link-all-bookings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Bookings
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="all-bookings-link-all-bookings">
                <li><a href="{% url 'bookings' %}?sort=price&direction=asc" class="dropdown-item">By Price</a></li>
                <li><a href="{% url 'bookings' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a></li>
                <li><a href="{% url 'bookings' %}?sort=category&direction=asc" class="dropdown-item">By Category</a></li>
                <li><a href="{% url 'bookings' %}" class="dropdown-item">All Bookings</a></li>                
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-bookings-link-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter By
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="all-bookings-link-filter">
                <li><a href="{% url 'bookings' %}?category=adult" class="dropdown-item">Adult</a></li>
                <li><a href="{% url 'bookings' %}?category=oap,student" class="dropdown-item">OAP / Student</a></li>
                <li><a href="{% url 'bookings' %}?category=child" class="dropdown-item">Child</a></li>
                <li><a href="{% url 'bookings' %}?category=adult,oap,student,child" class="dropdown-item">All Filters</a></li>
            </ul>
        </li>

        <!-- <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-bookings-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-bookings-link">
                <a href="{% url 'bookings' %}?category=combo_offers" class="dropdown-item">Combo Offers</a>
                <a href="{% url 'bookings' %}?category=discount_days" class="dropdown-item">Discount Days</a>
                <a href="{% url 'bookings' %}?category=combo_offers,discount_days" class="dropdown-item">All Special Offers</a>
            </div>
        </li> -->
    </ul>
</div>