<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-bookings-link" aria-haspopup="true" aria-expanded="false">
                Our Story
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-bookings-link">
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-bookings-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Bookings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-bookings-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="{% url 'bookings' %}" class="dropdown-item">All Bookings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-bookings-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter By
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-bookings-link">
                <a href="" class="dropdown-item">Adult</a>
                <a href="" class="dropdown-item">OAP / Student</a>
                <a href="" class="dropdown-item">Child</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-bookings-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-bookings-link">
                <a href="" class="dropdown-item">Combo Offers</a>
                <a href="" class="dropdown-item">Discount Days</a>
            </div>
        </li>
    </ul>
</div>